
%big-title {
    font-size: 36px;
    font-weight: bold;
}

%small-title {
    font-size: 26px;
    font-weight: 700;
    color: #000000;
}

%flex-elem {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

%flex-cont-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

%popup-butn {
    width: 173px;
    height: 51px;
    border-radius: 7px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
}

%popup_window {
    width: 587px;
    height: 297px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -293.5px;
    margin-top: -148.5px;
    display: none;
    opacity: 0;
    z-index: 1005;
    color: white;
    border-radius: 14px;
}