
#overlay {
    z-index:1003;
    position:fixed;
    background-color: rgba(0, 0, 0, .7);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}

#popup-copy {
    @extend %popup_window;
    padding-left: 20px;
    padding-right: 20px;
}

#popup-add {
    @extend %popup_window;
    padding-left: 37px;
    padding-right: 18px;
}

.visible {
    display: block !important;
    opacity: 1 !important;
}

.hidden {
    display: none !important;
    opacity: 0 !important;
}

.popup__header {
    height: 55px;
    padding-top: 20px;
    border-bottom: 1px solid #e8e8e8;
}

.popup__back-to-pic {
    font-size: 12px;
    color: $graphit;
    position: relative;
    margin-left: 15px;
    &:before {
        content: url("../img/back-arrow.png");
        position: absolute;
        left: -15px;
        top:0;
    }
}

.popup__buy-set {
    font-size: 12px;
    color: #0951af;
    margin-left: 250px;
}

.popup-flex-cont {
    margin-top: 30px;
    @extend %flex-cont-wrap;
}

.popup-flex-cont__elem {
    @extend %flex-elem;
    text-align: center;
    &:nth-child(2) {
        margin-left: 45px;
    }
}

.popup-flex-cont__elem__price {
    font-size: 42px;
    color: $graphit;
}

.popup-flex-cont__elem__rub {
    font-size: 18px;
    color: $graphit;
}

.popup-flex-cont__elem__pic-numb {
    font-size: 19px;
    color: $graphit;
    margin-top: 20px;
}

.popup-flex-cont__elem__button {
    @extend %popup-butn;
    background-color: #e3e3e3;
    color: #4f4f4f;
    margin-top: 15px;
}

.popup-flex-cont__elem__pucket {
    font-size: 48px;
    font-weight: 300;
    color: #000000;
}

.popup-flex-cont__elem__left-downld {
    margin-top: 43px;
    font-size: 14px;
    color: #000000;
}

.popup-flex-cont__elem__button_blue {
    background-color: #0951af;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    &:hover {
        background-color: #4279c1;
    }
}

.big-blue-butn {
    width: 324px;
}

.popup-list__select-wrap {
    margin-top: 33px;
    overflow: scroll;
    width: 532px;
    height: 150px;
}

.popup-list__select-wrap__elem {
    width: 100%;
    height: 58px;
    position: relative;
}

.popup-list__select-wrap__title {
    font-size: 24px;
    color: #000000;
    position: absolute;
    left: 0;
}

.popup-list__select-wrap__button {
    position: absolute;
    right: 0;
    @extend %popup-butn;
    width: 207px !important;
    background-color: #0951af;
}