html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42;
  font-weight: normal;
  color: black;
  background: white;
  margin: 0 auto;
  padding: 0; }

.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  width: 100%;
  clear: both; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.container {
  width: 1140px;
  margin: auto;
  overflow: hidden;
  position: relative; }

* {
  box-sizing: border-box; }

a {
  cursor: pointer;
  text-decoration: none; }

section {
  max-width: 1200px;
  min-width: 1130px;
  width: auto;
  margin: 0 auto; }

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 1130px;
  height: auto !important;
  overflow: hidden; }

button {
  outline: none; }

.header {
  max-width: 1200px;
  min-width: 1185px;
  width: auto;
  margin: 0 auto;
  height: 55px;
  padding-top: 10px;
  padding-left: 31px;
  border-bottom: 1px solid #e5e5e5; }

.header-flex-cont {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.header__flex-elem {
  position: relative; }
  .header__flex-elem:nth-child(1) {
    margin-top: 5px; }
  .header__flex-elem:nth-child(2) {
    margin-left: 52px;
    width: 460px; }
  .header__flex-elem:nth-child(3) {
    margin-top: 3px;
    margin-left: 45px;
    width: 250px; }
  .header__flex-elem:nth-child(4) {
    margin-left: 31px;
    width: 196px; }

.header__form {
  width: 437px;
  height: 30px;
  position: relative; }

.header__input {
  width: 377px;
  height: inherit;
  padding-left: 7px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #c4c4c4;
  -webkit-box-shadow: 0px 2px 4px -1px rgba(215, 215, 215, 0.75);
  -moz-box-shadow: 0px 2px 4px -1px rgba(215, 215, 215, 0.75);
  box-shadow: 0px 2px 4px -1px rgba(215, 215, 215, 0.75); }
  .header__input:-moz-placeholder {
    color: #e0e0e0; }
  .header__input:-ms-input-placeholder {
    color: #e0e0e0; }
  .header__input::-webkit-input-placeholder {
    color: #e0e0e0; }
  .header__input:focus {
    border: 1px solid #1c8eed;
    color: #000000; }

.header__form-btn {
  width: 60px;
  height: 30px;
  background: url("../img/button.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 2px;
  border: none; }

.fa-search {
  color: #ffffff;
  font-size: 12px; }

.header__down-butn {
  position: absolute;
  right: 0;
  top: 5px; }

.header__menu__item {
  display: inline-block;
  margin-left: 15px;
  position: relative; }
  .header__menu__item:nth-child(1) {
    margin-left: -17px !important; }

.header__menu__link {
  font-size: 14px;
  color: #484848; }

.header__toolbar__item {
  display: inline-block; }
  .header__toolbar__item:nth-child(2) {
    margin-left: 30px; }
  .header__toolbar__item:nth-child(3) {
    margin-left: 10px; }
  .header__toolbar__item:nth-child(4) {
    margin-left: 5px; }

.header__toolbar__link {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px; }

.header__toolbar__plus {
  position: absolute;
  top: 15px;
  left: 10px; }

.header__toolbar__plus__elem:nth-child(1) {
  width: 12px;
  height: 2px;
  background-color: #b6c1cd; }

.header__toolbar__plus__elem:nth-child(2) {
  width: 2px;
  height: 12px;
  margin-top: -7px;
  margin-left: 5px;
  background-color: #61707a; }

.header__toolbar__hamb {
  position: absolute;
  top: 13.5px;
  left: 9px; }

.header__toolbar__hamb__elem {
  width: 15px;
  height: 2px;
  background-color: #61707a;
  margin-top: 4px;
  border-radius: 3px; }
  .header__toolbar__hamb__elem:first-child {
    margin-top: -6px; }

.header__toolbar__link {
  z-index: 5; }

.header__toolbar__bag {
  position: absolute;
  top: 9px;
  left: 6px; }

.header__toolbar__bag__body {
  width: 19px;
  height: 12.6px;
  border-radius: 4px;
  border: 1px solid #61707a;
  background-color: white;
  z-index: 10;
  position: relative; }

.header__toolbar__bag__handle {
  width: 11px;
  height: 12.6px;
  border-radius: 8px;
  border: 1px solid #61707a;
  background-color: white;
  z-index: 5;
  position: relative;
  margin-top: -15.5px;
  margin-left: 3.5px; }

.header__toolbar__account {
  width: 34px;
  height: 34px;
  position: absolute;
  top: -2px; }

.header__toolbar__red-ellipse {
  width: 9px;
  height: 9px;
  background-color: #f24b4b;
  border-radius: 4.5px;
  margin-top: -43px;
  margin-left: 25px;
  z-index: 10;
  position: relative; }

.header__toolbar__round {
  width: 34px;
  height: 34px;
  background: transparent;
  border: 1px solid #b6c1cd;
  border-radius: 17px; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.slider {
  padding-top: 15px;
  padding-left: 10px; }

.slider__title {
  margin-left: 20px; }

.slider__back-link {
  font-size: 12px;
  color: #484848;
  position: relative; }
  .slider__back-link:before {
    content: url("../img/back-arrow.png");
    position: absolute;
    left: -17px;
    top: 0; }

.slider__wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.slider__content {
  width: 662px;
  padding-left: 15px;
  padding-top: 17px;
  position: relative; }

.slider__description {
  display: inline-block;
  width: auto;
  padding-left: 27px;
  padding-top: 13px; }

.slider__content__elem {
  display: inline-block;
  width: 647px;
  height: 420px;
  background-size: cover;
  background-position: center; }
  .slider__content__elem:first-child {
    background: url("../img/slide1.jpg"); }

.slider__content__types {
  position: absolute;
  bottom: 20px;
  left: 56px; }

.slider__content__types__elem {
  width: 165px;
  height: 38px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.62);
  margin-left: 21px;
  color: #FFF9F9;
  padding-top: 2px;
  border: none; }
  .slider__content__types__elem:hover {
    border-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2); }
  .slider__content__types__elem:nth-child(2) {
    padding-left: 2px; }
  .slider__content__types__elem:nth-child(3) {
    margin-left: 13px !important; }

.slider__content__full-size {
  position: absolute;
  bottom: 12px;
  right: 12px; }

.slider__content__controls {
  position: absolute;
  top: 206px;
  left: 0;
  right: 0; }

.slider__content__control {
  padding: 5.5px 11px;
  background-color: rgba(0, 0, 0, 0.59);
  border-radius: 19px; }
  .slider__content__control:hover {
    border: .5px solid #FFFFFF; }

.slide-right {
  position: absolute;
  right: 20px; }

.slide-left {
  position: absolute;
  left: 30px; }

.slide-left img {
  transform: rotate(180deg); }

.slider__description__author {
  font-size: 14px;
  color: #949494;
  font-weight: 300;
  margin-top: -4px; }

.slider__description__pic-param {
  margin-top: 13px; }

.slider__description__pic-param_width, .slider__description__pic-param_materials {
  font-size: 12px;
  font-weight: 400;
  color: #484848; }

.slider__description__pic-param_width {
  letter-spacing: .4px; }

.slider__description__flex-cont {
  width: 450px; }

.slider__description__flex-elem {
  width: 224px; }
  .slider__description__flex-elem:nth-child(1) {
    margin-top: 48px; }
  .slider__description__flex-elem:nth-child(2) {
    margin-top: 60px;
    margin-left: -4px; }
  .slider__description__flex-elem:nth-child(3) {
    margin-top: 20px;
    width: 140px; }
  .slider__description__flex-elem:nth-child(4) {
    margin-top: 10px;
    margin-left: 80px; }
  .slider__description__flex-elem:nth-child(5) {
    margin-top: 74px;
    margin-left: 106px;
    width: 90px; }
  .slider__description__flex-elem:nth-child(6) {
    margin-top: 58px;
    margin-left: 25px; }

.slider__description__cost {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 1.1px;
  word-spacing: .1px; }

.slider__description__cost span {
  font-size: 16px;
  letter-spacing: .6px; }

.slider__description__size {
  font-size: 10px;
  color: #484848;
  line-height: 12px; }

.slider__description__adding {
  font-size: 11px;
  color: #828282;
  position: relative; }
  .slider__description__adding:before {
    content: url("../img/papers.png");
    position: absolute;
    left: -20px; }

.slider__description__button {
  width: 222px;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }
  .slider__description__button:hover {
    border-color: rgba(0, 0, 0, 0.5); }

.buy-button {
  border: none;
  background-color: #0951af;
  color: #ffffff;
  margin-top: -50px; }
  .buy-button:hover {
    background-color: #4279c1; }

.collect-button {
  font-size: 13px;
  word-spacing: .1px; }

.slider__views-flex-cont {
  width: 647px;
  margin-left: 16px;
  margin-top: 12px; }

.slider__views-flex-cont__elem:nth-child(2) {
  margin-left: 364px;
  width: 50px;
  height: auto; }
.slider__views-flex-cont__elem:nth-child(3) {
  margin-top: -4px; }

.slider__views-flex-cont__views-numb {
  font-size: 16px;
  color: #828282; }

.slider__views-flex-cont__likes {
  position: relative; }

.slider__views-flex-cont__like, .slider__views-flex-cont__dislike {
  position: absolute; }

.slider__views-flex-cont__like {
  top: -4px;
  left: -65px; }

.slider__views-flex-cont__like span {
  position: absolute;
  top: 2px;
  left: 22px; }

.slider__views-flex-cont__dislike {
  right: 54px;
  top: -2px; }

.slider__views-flex-cont__dislike span {
  position: absolute;
  top: -1px;
  left: 24px;
  color: #828282; }

.slider__views-flex-cont__share {
  color: #4F4F4F;
  position: relative;
  margin-left: 30px; }
  .slider__views-flex-cont__share:before {
    content: url("../img/redo.png");
    position: absolute;
    right: 84px;
    top: -3px; }

.slider__owner-wrap {
  padding-left: 15px;
  margin-top: 13px; }

.slider__published {
  color: #A1A1A1; }

.slider__owner-title {
  margin-top: 10px; }

.slider__owner {
  margin-top: 10px; }

.slider__year-establish-title {
  margin-top: 19px; }

.slider__year-establish {
  margin-top: -3px; }

.slider__owner, .slider__year-establish {
  font-size: 20px;
  color: #A1A1A1; }

.similar-pic {
  padding-left: 33px;
  margin-top: 75px; }

.similar-pic__filter {
  margin-top: 16px;
  margin-left: 3px; }

.similar-pic__filter__elem {
  margin-left: 5px;
  width: 87px;
  height: 40px;
  background: #808080;
  border-radius: 2px;
  color: #FFFFFF;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-top: 11px; }
  .similar-pic__filter__elem:nth-child(1) {
    margin-left: -5px; }

.similar-pic__filter__link {
  margin-left: 6px; }

.similar-pic__filter__elem_big {
  width: 105px !important; }

.similar-pic__paintings {
  margin-top: 23px;
  margin-left: -10px; }

.similar-pic__paintings__elem {
  margin-left: 10px; }
  .similar-pic__paintings__elem:nth-child(7) {
    margin-top: -92px; }
  .similar-pic__paintings__elem:nth-child(8) {
    margin-top: -44px; }
  .similar-pic__paintings__elem:nth-child(9) {
    margin-top: -107px; }
  .similar-pic__paintings__elem:nth-child(10) {
    margin-top: 5px; }

.similar-pic__paintings__elem_empty {
  border: 1px dashed #c7c7c7;
  width: 214px;
  height: 150px;
  border-radius: 8px;
  margin-top: -53px; }

.similar-pic__paintings__elem__add-butn {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 1px solid #000000;
  margin-left: 29.5%;
  margin-top: 22%;
  position: relative; }

.similar-pic__paintings__elem__link {
  position: absolute;
  top: 36%;
  left: 36.3%; }

.slider__description__title, .similar-pic__title {
  font-size: 36px;
  font-weight: bold; }

.slider__owner-title, .slider__year-establish-title {
  font-size: 26px;
  font-weight: 700;
  color: #000000; }

.header__flex-elem, .slider__content, .slider__description, .slider__description__flex-elem, .slider__views-flex-cont__elem, .similar-pic__filter__elem, .similar-pic__paintings__elem, .popup-flex-cont__elem {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.slider__description__flex-cont, .slider__views-flex-cont, .similar-pic__filter, .similar-pic__paintings, .popup-flex-cont {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.popup-flex-cont__elem__button, .popup-list__select-wrap__button {
  width: 173px;
  height: 51px;
  border-radius: 7px;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  font-weight: bold; }

#popup-copy, #popup-add {
  width: 587px;
  height: 297px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -293.5px;
  margin-top: -148.5px;
  display: none;
  opacity: 0;
  z-index: 1005;
  color: white;
  border-radius: 14px; }

#overlay {
  z-index: 1003;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

#popup-copy {
  padding-left: 20px;
  padding-right: 20px; }

#popup-add {
  padding-left: 37px;
  padding-right: 18px; }

.visible {
  display: block !important;
  opacity: 1 !important; }

.hidden {
  display: none !important;
  opacity: 0 !important; }

.popup__header {
  height: 55px;
  padding-top: 20px;
  border-bottom: 1px solid #e8e8e8; }

.popup__back-to-pic {
  font-size: 12px;
  color: #484848;
  position: relative;
  margin-left: 15px; }
  .popup__back-to-pic:before {
    content: url("../img/back-arrow.png");
    position: absolute;
    left: -15px;
    top: 0; }

.popup__buy-set {
  font-size: 12px;
  color: #0951af;
  margin-left: 250px; }

.popup-flex-cont {
  margin-top: 30px; }

.popup-flex-cont__elem {
  text-align: center; }
  .popup-flex-cont__elem:nth-child(2) {
    margin-left: 45px; }

.popup-flex-cont__elem__price {
  font-size: 42px;
  color: #484848; }

.popup-flex-cont__elem__rub {
  font-size: 18px;
  color: #484848; }

.popup-flex-cont__elem__pic-numb {
  font-size: 19px;
  color: #484848;
  margin-top: 20px; }

.popup-flex-cont__elem__button {
  background-color: #e3e3e3;
  color: #4f4f4f;
  margin-top: 15px; }

.popup-flex-cont__elem__pucket {
  font-size: 48px;
  font-weight: 300;
  color: #000000; }

.popup-flex-cont__elem__left-downld {
  margin-top: 43px;
  font-size: 14px;
  color: #000000; }

.popup-flex-cont__elem__button_blue {
  background-color: #0951af;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff; }
  .popup-flex-cont__elem__button_blue:hover {
    background-color: #4279c1; }

.big-blue-butn {
  width: 324px; }

.popup-list__select-wrap {
  margin-top: 33px;
  overflow: scroll;
  width: 532px;
  height: 150px; }

.popup-list__select-wrap__elem {
  width: 100%;
  height: 58px;
  position: relative; }

.popup-list__select-wrap__title {
  font-size: 24px;
  color: #000000;
  position: absolute;
  left: 0; }

.popup-list__select-wrap__button {
  position: absolute;
  right: 0;
  width: 207px !important;
  background-color: #0951af; }

/*# sourceMappingURL=main.css.map */
