@import "fonts"
body
	font-family: Roboto
	font-style: normal
	background-color: #f7f7f7
	a
		text-decoration: none
		color: #494949

///// Header begin \\\\\\
header
	background-color: #f7f7f7
	height: 57px
	.container-fluid
		border-bottom: 1.5px solid #E5E5E5
	.container
		display: flex
		align-items: center
		justify-content: center
		.logo
			padding: 15px 30px
		.block_search
			.search
				width: 437px
				height: 30px
				background-color: #fff
				display: flex
				justify-content: flex-end
				align-items: center
				margin-left: 20px
				input
					border: none
					width: 100%
					padding: 5px 7px
					font-family: Roboto
					font-style: normal
					font-size: 16px 
					outline: none
				button
					width: 60px
					height: 28px
					background: url(../img/btn_bg.png)
					border: none
					border-radius: 3px
					cursor: pointer
				button:hover					
					background-color: #4279C1

		.angle
			display: block
			position: relative
		.angle::before
			content: ''
			display: block
			position: absolute
			top: -8px
			left: 8px
			width: 12px
			height: 12px
			border-right: 1.5px solid #BDBDBD
			border-bottom: 1.5px solid #BDBDBD
			transform: rotate(45deg)

		.menu
			ul
				padding: 0
				margin-left: 27px				
				display: flex
				font-size: 14px	
				li
					list-style-type: none
					margin: 0 7px
					white-space: nowrap
					cursor: pointer
					a
						color: #484848
						text-decoration: none

		.buttons
			display: flex
			justify-content: center
			align-items: center
			a
				width: 33px
				height: 33px
				border: 1.3px solid #BDBDBD
				border-radius: 50%
				margin: 0 7px
			.btn-plus
				margin-right: 25px
				margin-left: 55px
				position: relative			

				span::before
					content: ''
					display: block
					height: 2.3px
					width: 12px
					background-color: #61707A
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)

				span::after
					content: ''
					display: block
					height: 2.3px
					width: 12px
					background-color: #61707A
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%) rotate(90deg)
			.btn-burger
				position: relative
				span
					display: block
					height: 2.2px
					width: 15px
					background-color: #61707A
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
				span::before
					content: ''
					display: block
					height: 2.2px
					width: 15px
					background-color: #61707A
					position: absolute
					top: 5px
				span::after
					content: ''
					display: block
					height: 2.2px
					width: 15px
					background-color: #61707A
					position: absolute
					bottom: 5px
			.btn-chest
				display: flex
				justify-content: center
				align-items: center
			.btn-profile
				display: flex
				justify-content: center
				align-items: center
				position: relative
				.notification
					width: 9px
					height: 9px
					background-color: #F24B4B
					position: absolute
					right: 0
					top: 0
					border-radius: 50%

///// Header end \\\\\\


///// Block picture begin \\\\\\\\
.block-picture
	display: flex
	.left-side
		width: 650px
		margin: 0
		.back-to-pictures
			font-size: 14px
			color: #484848
			display: block
			position: relative
			margin-top: 20px
			margin-bottom: 15px
		.back-to-pictures::before
			content: ''
			display: block
			position: absolute
			left: -12px
			bottom: 4px
			width: 9px
			height: 9px
			border-left: 1px solid #484848
			border-bottom: 1px solid #484848
			transform: rotate(45deg)
		.picture
			width: 650px
			#block-for-slider
				width: 650px
				height: 420px
				#viewport
					display: table
					position: relative
					overflow: hidden
					user-select: none
					#slidewrapper
						position: relative
						width: calc(100% * 4)
						top: 0 
						left: 0
						padding: 0
						transition: 1s
						ul, li
							margin: 0
							padding: 0
						li
							width: calc(100% / 4)
							list-style-type: none
							display: inline
							float: left
						.slide
							.slide-img
								width: 100%
					#prev-btn, #next-btn
						position: absolute
						width: 28px
						height: 28px
						background-color: rgba(0,0,0, .7)
						border-radius: 50%
						border: 1px solid #fff
						top: calc(50% - 25px)
					#prev-btn:hover, #next-btn:hover
						cursor: pointer
					#prev-btn
						left: 20px
						display: flex
						justify-content: center
						align-items: center
						span
							display: block
							width: 12px
							height: 12px
							border-bottom: 1.3px solid #fff
							border-right: 1.3px solid #fff
							transform: rotate(135deg) translate(-1.7px, -1.7px)
					#next-btn
						right: 20px
						display: flex
						justify-content: center
						align-items: center
						span
							display: block
							width: 12px
							height: 12px
							border-bottom: 1.3px solid #fff
							border-right: 1.3px solid #fff
							transform: rotate(-45deg) translate(-1.7px, -1.7px)
					#nav-btns						
						position: absolute
						width: 100%
						bottom: 20px
						padding: 0
						margin: 0
						text-align: center
						display: flex
						align-items: center
						justify-content: center
						.slide-nav-btn
							position: relative
							display: flex
							align-items: center
							justify-content: center
							list-style-type: none
							width: 165px
							height: 38px
							color: #FFF9F9
							font-size: 14px
							background-color: rgba(0,0,0, .2)
							margin: 3px
						.active
							background-color: rgba(0,0,0, .6)
						.slide-nav-btn:hover
							cursor: pointer
							background-color: rgba(0,0,0, .6)
		.under-slider
			display: flex
			font-size: 16px
			justify-content: space-between
			align-items: center
			margin-top: 30px
			width: 650px
			.views
				font-size: 16px
				color: #828282
			.likes
				font-size: 14px
				color: #4F4F4F
				display: flex
				justify-content: center
				align-items: center
				.like, .dislike, .share
					display: flex
					justify-content: center
					align-items: center
					a
						display: flex
						justify-content: center
						align-items: center
					span
						margin: 10px 8px
				.share
					img
						margin-left: 40px
		.description-picture
			.date
				color: #A1A1A1
				font-size: 14px
				margin-top: 7px
			h2
				font-size: 26px
				font-weight: bold
				padding: 0
				margin: 0
				margin-top: 30px
			h4
				color: #A1A1A1
				font-size: 20px
				font-weight: 400
				padding: 0
				margin: 0
				margin-top: 20px
				margin-bottom: 80px
	.buy-picture
		width: auto
		padding-left: 37px
		padding-top: 64px
		.desc-picture
			h2
				font-weight: bold
				font-size: 36px
				margin: 0
			h4
				color: #949494
				font-size: 14px
				font-weight: 400
			p
				font-size: 12px
				color: #484848
		.buy
			display: flex
			margin-top: 50px
			.price
				width: 50%
				p
					font-size: 35px
					font-weight: 400
					margin: 0
					span
						font-size: 16px
						font-weight: 400
				.size
					font-size: 11px
					color: #484848
					margin-top: 18px
				.added
					display: flex
					justify-content: flex-end
					font-size: 11px
					color: #828282
					margin-top: 95px
			.buy-buttons
				display: flex
				flex-direction: column
				justify-content: center		
				margin-left: 40px		
				a
					display: flex
					justify-content: center
					align-items: center
					text-decoration: none
					text-transform: uppercase
					font-size: 14px
					font-weight: bold
					width: 222px
					height: 40px
					border-radius: 3px
				.buy-origin
					color: #fff
					margin-bottom: 16px
					transition: all .2s				
				.dload-copy
					margin-bottom: 55px
				.dload-copy, .add-copy
					border: 1.3px solid #000
					color: #000000					
					transition: all .2s
				.dload-copy:hover, .add-copy:hover
					border: 1.3px solid rgba(0, 0, 0, 0.5)
					


///// Block picture end \\\\\\\\


///// Modals begin \\\\\\\\
.overlay
	display: none
	position: fixed
	z-index: 1
	width: 100%
	height: 100%
	top: 0
	right: 0
	left: 0
	bottom: 0
	background-color: rgba(0,0,0, .6)
.modal
	position: fixed
	z-index: 2
	top: -150%
	transition: all 1s
	left: 50%
	transform: translate(-50%, -50%)
	background-color: #fff
	width: 588px
	min-height: 300px
	border-radius: 10px
	font-size: 12px
	padding: 0px 20px 20px 20px
	box-shadow: 0 0 10px rgba(0,0,0,0.5)
	.head
		display: flex
		align-items: center
		height: 55px
		position: relative
		border-bottom: 1px solid #E8E8E8
		width: 100%		
		&_first
			position: absolute
			left: 10px
			width: 50%
			height: 100%
			font-size: 12px
			display: flex
			align-items: center
			border-right: 1px solid #e8e8e8
			&:hover
				color: #828282
			&::before
				content: ''
				display: block
				height: 12px
				width: 12px				
				border-left: 1px solid darken(#e8e8e8, 50%)
				border-bottom: 1px solid darken(#e8e8e8, 50%)
				transform: rotate(45deg) translate(-1px, -1px)
		&_second
			position: absolute
			right: 10px
			color: #0951AF
.modal_active
	top: 50%
.dload-modal	
	.modal_content
		display: flex
		.left
			display: flex
			width: 40%
			min-height: 180px
			flex-direction: column		
			align-items: center
			justify-content: space-between
			color: #484848
			h3
				font-size: 48px
				margin: 0
				padding: 0
				margin-top: 15px
			h4
				margin-top: 30px
				font-size: 18px
				font-weight: 400
			p
				font-size: 18px
				margin: 0
				padding: 0
			a
				display: flex
				justify-content: center
				align-items: center
				width: 173px
				height: 51px
				background-color: #e3e3e3
				border-radius: 6px
				font-size: 14px
				font-weight: bold
				transition: all .2s
				&:hover
					background-color: darken(#e3e3e3, 12%)
		.right
			display: flex
			width: 60%
			flex-direction: column
			justify-content: space-between
			align-items: center
			h3
				font-size: 48px
				font-weight: 400
				margin: 0
				margin-top: 20px
			p
				font-size: 14px
			a
				width: 324px
				height: 51px
				color: #fff
				font-size: 18px
				font-weight: bold
				text-transform: uppercase
				border-radius: 5px
				display: flex
				justify-content: center
				align-items: center
.buy-modal
	.head
		&_first
			border: none
		&_second
			display: flex
			align-items: center
			color: #000
			height: 100%
			margin: 0
			right: 0
	.modal-content
		display: flex
		.pic
			display: flex
			width: 33%
			min-height: 180px
			flex-direction: column		
			align-items: center
			justify-content: space-between
			color: #484848
			h3
				font-size: 48px
				margin: 0
				padding: 0
				margin-top: 15px
			h4
				margin-top: 30px
				font-size: 18px
				font-weight: 400
			p
				font-size: 18px
				margin: 0
				padding: 0
			a
				width: 170px
				height: 51px
				color: #fff
				font-size: 18px
				font-weight: bold
				text-transform: uppercase
				border-radius: 5px
				display: flex
				justify-content: center
				align-items: center
.add-modal
	.modal_content
		display: flex
		justify-content: space-between		
		.left
			display: flex
			flex-direction: column
			justify-contene: space-between
			h3
				font-size: 24px
		.right
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: center
			.save
				display: flex
				align-items: center
				img
					margin-right: 15px
				a
					display: flex
					justify-content: center
					align-items: center
					width: 207px
					height: 51px
					color: #fff
					text-transform: uppercase
					border-radius: 5px
					font-size: 14px
					font-weight: bold
///// Modals end 		\\\\\\\\

////// Block gallery begin \\\\\\

.block_galley
	h2
		font-size: 36px
		font-weight: 700
	.sort_block
		display: flex

		a
			padding: 15px 20px
			color: #fff
			font-size: 14px
			text-transform: uppercase
			background-color: #808080
			border-radius: 3px
			margin: 15px 3px
			&:hover 
				background-color: darken(#808080, 15%)
			span 
				position: relative
				display: inline-block
				height: 15px
				width: 15px
				margin-left: 15px
				&::before
					content: ''
					display: block
					position: absolute
					height: 2px
					width: 13px
					top: 9px
					left: 0
					background-color: #fff
					transform: rotate(-45deg)
				&::after
					content: ''
					display: block
					position: absolute
					height: 2px
					width: 13px
					top: 9px
					left: 0
					background-color: #fff
					transform: rotate(45deg)

	.gallery
		display: flex
		img
			margin: 3px
		.column
			display: flex
			flex-direction: column
			.empty
				display: flex
				justify-content: center
				align-items: center
				width: 214px
				height: 252px
				border: 1px solid grey
				margin: 3px
				border-radius: 5px
				span
					display: flex
					justify-content: center
					align-items: center
					width: 85px
					height: 85px
					border: 1px solid grey
					border-radius: 50%
					position: relative
					&::before
						content: ''
						display: block
						position: absolute
						height: 2px
						width: 15px
						background-color: grey
					&::after
						content: ''
						display: block
						position: absolute
						height: 2px
						width: 15px
						background-color: grey
						transform: rotate(90deg)

////// Block gallery end \\\\\\
.blue_btn
	background-color: #0951AF
	color: #fff
.blue_btn:hover
	background-color: #4279C1
.blue_btn:active
	background-color: rgba(9, 81, 175, 0.91)