/* FONTS */
@font-face {
	font-family: 'RobotoRegular';
	src: url('fonts/RobotoRegular/Roboto-Regular.eot');
	src: url('fonts/RobotoRegular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/RobotoRegular/Roboto-Regular.woff') format('woff'),
		 url('fonts/RobotoRegular/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'RobotoBold';
	src: url('fonts/RobotoBold/Roboto-Bold.eot');
	src: url('fonts/RobotoBold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/RobotoBold/Roboto-Bold.woff') format('woff'),
		 url('fonts/RobotoBold/Roboto-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'RobotoLight';
	src: url('fonts/RobotoLight/Roboto-Light.eot');
	src: url('fonts/RobotoLight/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/RobotoLight/Roboto-Light.woff') format('woff'),
		 url('fonts/RobotoLight/Roboto-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

/* END FONTS */

/* BODY STYLES */

body {
  display: flex;
  flex-direction: column;
  font-family: RobotoRegular;
}

.container {
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

.fa {
  color: #61707A;
}

h1, h2, .btn{
  font-family: RobotoBold;
}

/* NAVBAR STYLES */
.container-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 0px 31px;
  border-bottom: 1px solid #E6E6E6;
  height: 50px;
}

/* LOGO */
#nav-logo-letter-a{
  position: relative;
  left: -4px;
}

#nav-logo-letter-m{
  position: relative;
  left: -7px;
}

#nav-logo-letter-m-2{
  position: relative;
  left: -8px;
}

#nav-logo-letter-k{
  position: relative;
  left: -9px;
}

#nav-logo-letter-a-2{
  position: relative;
  left: -14px;
}
/* LOGO END */

/* LOGO SEARCH */
#search-input{
  position: relative;
  width: 437px;
  height: 30px;
  top: -4px;
  left: 6px;
  background: #FFFFFF;
  box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border-style: none;
}

input::-webkit-input-placeholder {
  color: #E0E0E0;
  font-size: 16px;
  padding-left: 7px;
  word-spacing: 2px;
  font-family: RobotoRegular;
}

.navbar-search-btn {
  background-image: url(img/navbar/search-bg.svg); 
  width: 60px;
  height: 28px;
  border-style: none;
  border-radius: 2px;
  position: relative;
  left: -57px;
  top: -4px;
}

.navbar-search-btn img{
  position: relative;
  top: 2px;
  left: 1px;
  width: 12px;
  height: 12px;
}

.search-more {
  width: 15px;
  height: 7px;
  position: relative;
  left: 1px;
}
.search-more img{
  position: relative;
  left: -54px;
  top: -5px;
}

/* LOGO SEARCH END */

a {
  color: #484848;
}

.nav-links {
  color: #484848;
  font-size: 14px;
  position: relative;
  left: -66px;
  
}

.nav-links-item {
  padding: 0px 7px;
}

.nav-btn {
  position: relative;
  left: 12px;
}

#add-btn {
  position: relative;
  left: -46px;
  top: -10px;
}

#menu-btn {
  position: relative;
  left: -19px;
  top: -10px;
}

#case-btn {
  position: relative;
  left: -8px;
  top: -10px;
}

#profile-btn {
  position: relative;
  left: 1px;
  top: -8px;
}

#profile-btn img{
  height: 37px;
  width: 37px;
}

.profile-unread {
  background: url(img/navbar/Ellipse.svg);
  width: 9px;
  height: 9px;
  display: inline-block;
  position: relative;
  bottom: 36px;
  right: 15px;
}

/* NAVBAR STYLES END */



/* MAIN STYLES */
.container-main {
  margin: 17px 35px 30px 50px; 
}
.painting-main{
  display: flex;
}

.link-back {
  font-size: 12px;
  padding: 0 0 17px 0px;
}

.link-back img {
  position: relative;
  left: -10px;
  top: 2px;
}


/* CAROUSEL DEPENDENCIES */
.painting-carousel {
  position: relative;
  top: 1px;
}

.owl-carousel {
  width: 647px;
}

.owl-carousel .owl-item {
  height: 420px;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.owl-item img{
  flex-shrink:0;
    min-width:100%;
  max-height: 100%; 
}

.owl-buttons {
  position: relative;
  /* left: 280px; */
  bottom: 239px;
  transition: 1s;
}

.owl-buttons .owl-prev {
  position: relative;
  right: 265px;
  top: -5px;
  width: 28px;
  height: 28px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 19px;
  transition: 1.5s;
}

.owl-buttons .owl-prev img {
  position: relative;
  width: 6px;
  height: 12px;
  transform: scale(-1, 1);
  right: 1px;
  top: 4px;
}

.owl-buttons .owl-next {
  position: relative;
  left: 270px;
  bottom: 5px;
  width: 28px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.59);
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 19px;
  transition: 1.5s;
}

.owl-buttons .owl-next img {
  position: relative;
  left: 1px;
  top: 4px;
}

.carousel-buttons {
  display: flex;
  justify-content: center;
  position: relative;
  top: -98px;
}

.carousel-btn {
  width: 165px;
  height: 38px;
  margin: 0 10px;
  font-family: RobotoRegular;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2); 
  color: #FFF9F9;
  border-radius: 5px;
  border-style: none;
  transition: 700ms;
  cursor: pointer;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.62);
}

.carousel-fullscreen-btn{
  display: flex;
  justify-content: end; 
}

.carousel-fullscreen-btn button{
  position: relative;
  top: -121px;
  left: 610px;
  background: transparent; 
  border-style: none;
  padding-top: 8px;
}

/* END CAROUSEL DEPENDENCIES */


/* PAINTING DESCRIPTION */
.painting-full{
  flex: 6;
}

.painting-main {
  height: 420px;
}

.painting-description{
  flex: 4;
  padding-left: 14px;
}

.painting-name h1 {
  margin: 0px;
}

.painting-artist {
  font-family: RobotoLight;
  font-size: 14px;
  color: #949494;
  margin-top: 10px;
}

.painting-char h4{
  margin-top: 13px;
  font-weight: normal;
  color: #484848;
  line-height: 18px;
}

.user-options {
  margin-top: 50px;
}

.buyer-info, .copy-info, .collection-info {
  display: flex;
  justify-content: space-between;
}

.buyer-info {
  padding-bottom: 16px;
}

.original-price {
  font-size: 35px;
  width: 180px;
  font-family: RobotoLight;
}

.buyer-currency {
  font-size: 16px;
  font-weight: 200;
  padding-left: 5px;
}

.copy-size {
  width: 180px;
  text-align: left;
  font-size: 10px;
  padding-top: 5px;
  color: #484848;
  line-height: 13px;
}

.user-options .btn {
  font-family: RobotoBold;
  font-size: 14px;
  text-transform: uppercase;
  width: 222px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px;
  position: relative;
  top: -1px;
  cursor: pointer;
}

.user-options .btn:hover {
  -webkit-box-shadow: 0px 14px 28px -8px rgba(0,0,0,0.38);
-moz-box-shadow: 0px 14px 28px -8px rgba(0,0,0,0.38);
box-shadow: 0px 14px 28px -8px rgba(0,0,0,0.38);
}

.user-options .buyer-btn {
  background-color: #0951AF;
  border-color: #0951AF;
  color: #fff;
  position: relative;
  left: px;
  width: 223px;
  height: 42px;
}

.user-options .buyer-btn:hover {
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.6);
box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.6);
}

.collection-info {
  margin-top: 58px;
}

.collection-info span {
  padding-left: 5px;
  line-height: 50px;
}

.collection-info img {
  position: relative;
  top: 2px;
  left: 1px;
}

.copy-dnlw-btn {
  padding-right: 15px;
  padding-top: 2px;
}

.collection-added-times {
  width: 180px;
  font-family: RobotoLight;
  font-size: 11px;
  color: #828282;
  position: relative;
  left: 11px;
  top: -3px;
  text-align: right;
}

.user-options .collection-add-btn {
  font-size: 12.5px;
  word-spacing: 0px;
}


.social-info {
  display: flex;
  width: 647px;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  
}

.views-total {
  font-size: 16px;
  color: #828282;
  position: relative;
  top: 10px;
}

.social-btn {
  position: relative;
  left: 120px;
}

.social-btn .like-btn {
  position: relative;
  top: 1px;
}

.social-btn .like-btn span {
  position: relative;
  top: -4px;
  left: 2px;
}

.social-btn .dislike-btn {
  position: relative;
  top: 5px;
  left: 9px;
}

.social-btn .dislike-btn span {
  position: relative;
  top: -8px;
  left: 1px;
}

.social-btn .share-btn {
  position: relative;
  top: -4px;
  left: 58px;
}

.social-btn .share-btn img {
  position: relative;
  top: 8px;
  left: -5px;
}

.published-in {
  font-size: 14px;
  position: relative;
  top: 14px;
  color: #A1A1A1;
}

.painting-info {
  position: relative;
  top: 6px;
}

.painting-owner span {
  position: relative;
  top: -7px;
  font-size: 20px;
  color: #A1A1A1;
}

.painting-date {
  position: relative;
  top: -6px;
}

.painting-date span {
  position: relative;
  top: -21px;
  font-size: 20px;
  color: #A1A1A1;
}


.paintings-similar h2 {
  font-size: 36px;
  position: relative;
  left: -5px;
  top: 29px;
}

.tag-nest {
  display: flex;
  position: relative;
  top: 29px;
  left: -5px;
  top: 22px;
}

.tag-nest-single {
  padding: 12px 20px;
  margin-right: 5px;
  background: #808080;
  border-radius: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
}

.tag-nest-single img{
  padding-left: 10px;
  position: relative;
  top: 2px;
}

.paintings-similar-results {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 620px;
  margin-top: 47px;
  position: relative;
  right: 5px;
}

.paintings-similar-results-single {
  width: 214px;
  margin: 0 10px 10px 0;
}

.paintings-similar-results img {
  max-width: 100%;
  border-radius: 8px; 
}