/* FONTS */
@font-face {
	font-family: 'RobotoRegular';
	src: url('fonts/RobotoRegular/Roboto-Regular.eot');
	src: url('fonts/RobotoRegular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/RobotoRegular/Roboto-Regular.woff') format('woff'),
		 url('fonts/RobotoRegular/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'RobotoBold';
	src: url('fonts/RobotoBold/Roboto-Bold.eot');
	src: url('fonts/RobotoBold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/RobotoBold/Roboto-Bold.woff') format('woff'),
		 url('fonts/RobotoBold/Roboto-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

/* END FONTS */

/* BODY STYLES */

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

.nav-links {
  color: #484848;
}
.fa {
  color: #61707A;
}

h1, h2, .btn{
  font-family: RobotoBold;
}

.btn {
  text-transform: uppercase;
  font-size: 14px;
  width: 222px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px;
}

/* NAVBAR STYLES */
.container-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 5px 31px;
  border-bottom: 1px solid #E6E6E6;
}

/* LOGO */
#nav-logo-letter-a{
  position: relative;
  left: -5px;
}

#nav-logo-letter-m{
  position: relative;
  left: -9px;
}

#nav-logo-letter-m-2{
  position: relative;
  left: -10px;
}

#nav-logo-letter-k{
  position: relative;
  left: -12px;
}

#nav-logo-letter-a-2{
  position: relative;
  left: -16px;
}
/* LOGO END */

/* LOGO SEARCH */
#search-input{
  position: relative;
  width: 437px;
  height: 30px;
  left: 0px;
  background: #FFFFFF;
  box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  border-style: none;
}

input::-webkit-input-placeholder {
  color: #E0E0E0;
  font-size: 14.5px;
  padding-left: 7px;
}

.fa-search {
  position: relative;
  left: -61px;
  top: -2px;
  font-size: 11px;
  line-height: 30px;
  background-image: url(img/navbar/search-bg.png);
  width: 60px;
  height: 28px;
  text-align: center;
  color: #FFFFFF;
}
.navbar-search img{
  position: relative;
  left: -50px;
  top: -2px;
}

.search-more {
  width: 15px;
  height: 7px;
  position: relative;
  left: -5px;
}
/* LOGO SEARCH END */

a {
  color: #484848;
}

.nav-links {
  
  font-size: 13px;
  position: relative;
  left: -55px;
}

.nav-links-item {
  padding: 0px 5px;
}



.nav-btn img {
  height: 30px;
  width: 30px;
}

#add-btn {
  position: relative;
  left: -30px;
  top: -2px;
}

#menu-btn {
  position: relative;
  left: -10px;
  top: -2px;
}

#case-btn {
  position: relative;
  left: -5px;
  top: -2px;
}

#profile-btn {
  position: relative;
  left: 0px;
  top: -3px;
}

#profile-btn img{
  height: 35px;
  width: 35px;
}

/* NAVBAR STYLES END */



/* MAIN STYLES */
.container-main {
  margin: 17px 35px 30px 50px; 
}
.painting-main{
  display: flex;
}

.link-top {
  display: flex;
}


/* CAROUSEL DEPENDENCIES */
.painting-carousel {
  width: 647px;
}

.owl-carousel .owl-item {
  
  height: 420px;
}

.owl-item img {
  max-height: 100%;
  object-fit: cover;
}
/* END CAROUSEL DEPENDENCIES */

.painting-full{
  flex: 6;
}

.painting-description{
  flex: 4;
  padding-left: 27px;
}

.buyer-info, .copy-info, .collection-info {
  display: flex;
  justify-content: space-between;
}


