.btn {
  width: 222px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;

  &_white {
    border: 1px solid #000000;
    background: #FFFFFF;
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
    &:active {
      border: 1px solid #000000;
    }
  }
  &_blue {
    background: #0951AF;
    border: none;
    color: white;
    &:hover {
      background: #4279C1;
    }
    &:active {
      background: rgba(9, 81, 175, 0.91);
      box-shadow: inset 2px 2px 50px rgba(0, 0, 0, 0.25);
    }
  }

  &_unactive {
    background: #F2F2F2;
  }
}

