.picture {
  padding: 17.5px 35px 0 50px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 78px;
}

.picture__img {
  background: url("../img/image.jpg") no-repeat center center/cover;
  width: 647px;
  height: 420px;
}

.picture__back {
  display: flex;
  align-items: center;
  margin-left: -10px;
  margin-bottom: 18px;
  font-size: 12px;
  color: #484848;
}
.picture__back-arrow {
  fill: #484848;
  width: 5px;
  height: 10px;
  margin-right: 10px;
  margin-top: 2px;
}

.picture__about-block {
  margin-top: 16px;
}

.picture__about {
  color: #A1A1A1;
  margin-top: 13px;
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 30px;
}

.picture__year {
  font-size: 20px;
  line-height: 30px;
  color: #A1A1A1;
  margin-top: -2px;
}