.similar {
  padding: 0 35px 0 45px;
}

.similar__teg {
  margin-top: 23px;
  display: flex;
}

.teg__item {
  border-radius: 2px;
  background: #808080;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.teg__icon-delete {
  width: 10px;
  height: 10px;
  fill: #FFFFFF;
  margin-left: 10px;
}

.similar__galery {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
}

.galery__item {
  height: 290px;
  width: 214px;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: no-repeat center center/cover;
  &_top {
    margin-top: -99px;
  }

  &_empty {
    border: 1px dashed #C7C7C7;
    padding-top: 49px;
    text-align: center;
    line-height: 23px;
    font-size: 14px;
    margin-top: -60px;
  }
}

.galery__empty-add {
  width: 85px;
  height: 87px;
  fill: white;
  stroke: black;
  margin-bottom: 15px;
}

.galery__empty-link {
  color: #1C8EED;
}