extends ../_template

block variables
    - var title = 'About'

block content
    .container
        header
            .logo
                svg.icon__logo
                    use(xlink:href="assets/img/sprite.svg#Logo")
            .search.header__search
                form.search__form
                    input(type = "text" placeholder= "Поиск" class = "input").search__input
                    button(type="submit").search__button
                        img(src="assets/img/search.png").search__img
            a(href="#")
                svg.icon__search
                    use(xlink:href="assets/img/sprite.svg#Vector")
            .header__menu
                ul.menu
                    li.menu__item
                        a(href="#").menu__link Каталог
                    li.menu__item
                        a(href="#").menu__link Художники
                    li.menu__item
                        a(href="#").menu__link О проекте
            .header__icons
                a(href="#").icons__round.icons__round-add
                    svg.icons__item.icons__item-add
                        use(xlink:href="assets/img/sprite.svg#Plus")
                a(href="#").icons__round.icons__round-hsmb
                    svg.icons__item.icons__item-hamb
                        use(xlink:href="assets/img/sprite.svg#Hamburger")
                a(href="#").icons__round.icons__round-case
                    svg.icons__item.icons__item-case
                        use(xlink:href="assets/img/sprite.svg#Case")
                a(href="#").icons__round-user
                    img(src="assets/img/user.png")
                    .icons__round-new
        section.picture
            .picture__back-block
                a(href="#").picture__back
                    svg.picture__back-arrow
                        use(xlink:href="assets/img/sprite.svg#Arrow-back")
                        p  Вернуться ко всем картинам
            .picture__img-block
                .picture__carousel-block
                    .picture__carousel
                        .picture__img
                        a(href="#").picture__carousel-next
                            svg.carousel-next__icon
                                use(xlink:href="assets/img/sprite.svg#Next")
                        .picture__carousel-tabs
                            .carousel-tabs__item.carousel-tabs__item_active
                                a(href="#").carousel-tabs__link Оригинал
                            .carousel-tabs__item
                                a(href="#").carousel-tabs__link На устройствах
                            .carousel-tabs__item
                                a(href="#").carousel-tabs__link В интерьере
                        .carousel__full-size
                            img(src="assets/img/full-size.png").carousel__full-size-image
                    .picture__carousel-info
                        .carousel-info__views 999 просмотров
                        .carousel-info__rate
                            a(href="#").rate__item.rate__item-like
                                img(src="assets/img/like.png").rate__item-img.rate__item-img_active
                                p 1
                            a(href="#").rate__item.rate__item--dislike
                                img(src="assets/img/like.png").rate__item-img.rate__item-img_dislike
                                p 0
                        a(href="#").carousel-info__share
                            img(src="assets/img/redo.png").carousel-info__share-img
                            p Поделиться
                    .picture__carousel-date  Опубликованно: 19.04.2018
                .picture__info
                    h1 Демон сидящий
                    .picture__info-author Автор: Николай Воскресенский
                    .picture__info-information
                        p   Ширина: 30 см. х Длина: 40 см.
                        p   Материалы: Холст, Масло.
                    .picture__info-buy
                        .info-buy__about
                            .info-buy__price 300 000
                                .info-buy__price-currency руб.
                            .info-buy__ele-info
                                p Размер электронной копии:
                                p 5458 x 3639 пикселей
                            .info-buy__add
                                svg.info-buy__icon
                                    use(xlink:href="assets/img/sprite.svg#Group")
                                p Добавлена 5 раз
                        .info-buy__buttons
                            button.btn.btn_blue.btn__buy Купить оригинал
                            button.btn.btn_white Скачать копию
                            button.btn.btn_white.btn__add Добавить в коллекцию

            .picture__about-block
                h2 Владелец
                .picture__about
                    p Бадер ибн-Абдулла ибн Мохаммед ибн Фархан Аль-Сауд
                h2 Год создания
                .picture__year
                    p 1990
        section.similar
            h1 Похожие картины
            .similar__teg
                .teg__item Озеро
                    a(href="#")
                        svg.teg__icon-delete
                            use(xlink:href="assets/img/sprite.svg#Delete")
                .teg__item Лес
                    a(href="#")
                        svg.teg__icon-delete
                            use(xlink:href="assets/img/sprite.svg#Delete")
                .teg__item Лес
                    a(href="#")
                        svg.teg__icon-delete
                            use(xlink:href="assets/img/sprite.svg#Delete")
                .teg__item Озеро
                    a(href="#")
                        svg.teg__icon-delete
                                use(xlink:href="assets/img/sprite.svg#Delete")
                .teg__item Лес
                    a(href="#")
                        svg.teg__icon-delete
                            use(xlink:href="assets/img/sprite.svg#Delete")

            .similar__galery
                .galery__item(style="background-image: url('assets/img/galery1.jpg')")
                .galery__item(style="background-image: url('assets/img/galery2.jpg'); height: 253px;")
                .galery__item(style="background-image: url('assets/img/galery3.jpg'); height: 301px")
                .galery__item(style="background-image: url('assets/img/galery4.jpg'); height: 238px;")
                .galery__item(style="background-image: url('assets/img/galery5.jpg') ; height: 350px")
                .galery__item.galery__item_empty
                    svg.galery__empty-add
                        use(xlink:href="assets/img/sprite.svg#Add-pic")
                    p Добавьте свою картину
                    a(href="#").galery__empty-link выберите файл
                .galery__item(style="background-image: url('assets/img/galery6.jpg'); height: 358px; margin-top: -97px")
                .galery__item(style="background-image: url('assets/img/galery7.jpg'); height: 310px;margin-top: -50px")
                .galery__item(style="background-image: url('assets/img/galery8.jpg'); height: 373px; margin-top: -112px")
                .galery__item(style="background-image: url('assets/img/galery9.jpg'); height: 261px;")


    .picture__about-block