

body{
font-family: 'Open Sans', sans-serif;
font-weight: normal;
}
header{

}
ul{
  display: flex;
  list-style: none;
  text-decoration: none;
}
a{
  text-decoration: none;
}
h2{
color: #000000;

font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 26px;
}
.header-container{
  display: flex;
  width: 1200px;
  height: 54px;
  background: #f6f6f6;
  margin: 0 auto;
padding: 14px 21px;
  border-bottom: 1px solid #E6E6E6;


}
.logo{
    margin-left: 10px;
}
.search{
  margin-left: 50px;
  margin-top: -4px;
  white-space: nowrap;
}
#search-line{
    border: none;
    width: 376px;
    height: 30px;
}
.search-btn{
    width: 60px;
    height: 28px;
    border: none;
    border-radius: 3px;
    margin-left: -2px;
    background: url(img/btn.png);
    padding-right: 3px;
  }
  .pointer{
    margin-left: 10px;

  }
.main-menu{
white-space: nowrap;
    margin-left: -23px;
    margin-top: -3px;

}
.links li{
  margin: 0 8px;

}
 .links li a{
margin-left: 3px;
text-decoration: none;
font-size: 14px;
color: #484848;

color: #484848;
 }

.menu-btn{
    display: flex;
    margin-left: 12px;
    margin-top: -6px;
}
.menu-btn li{
    margin-left: 13px;
}
.btns li:nth-child(2){
  margin-left: 31px;
  margin-top: 1px;
}

.btns li:nth-child(4){
margin-left: 14px;
  margin-top: 1px;
}
.btns li:nth-child(6){
    margin-top: -1px;
}
.main-container{
flex-wrap:wrap;
  display: flex;
  width: 1200px;
  font-family: Roboto;
  background: #f6f6f6;
  margin: 0 auto;
padding: 14px 21px;
  border-bottom: 1px solid #E6E6E6;
}
.item-info{
  width: 675px;
}
.back-link{
  display: flex;
    padding-left: 19px;
    padding-top: 1px;
font-family: Roboto;
    width: 1200px;

}
.back-link a{
    text-decoration: none;
    color: #484848;
}
.back-link span{
    padding-left: 5px;
    font-size: 12px;
    word-spacing: 1px;
}
.carousel{
    display: flex;
    width: 661px;
    height: 420px;
    margin-left: 14.5px;
    margin-top: 7.5px;


}
.func{
  display: flex;
width: 480px;
}
.product h1{
    font-weight: bold;
    font-size: 36px;
    margin-top: 16px;
    color: #000000;
}
.product{
  width: 525px;

    padding: 21px 28px;

}
cite{
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  color: #949494;
}
.product-author{
    word-spacing: -2px;
    margin-top: -6px;

}
.product-info{
    margin-top: 11px;
}
.product-info p{
    line-height: 17px;
    font-size: 12px;
    color: #484848;
}
.buy, .copy, .add{
  display: flex;
  justify-content: space-between;
}
.buy-price{
    margin-top: 39px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 36px;
    word-spacing: 1px;
    font-weight: lighter;
    letter-spacing: -1px;
}
.buy-price span{
    font-size: 15px;
}
.buttn{
  border-radius: 5px;
  Font Style: Bold;
  border: 1px solid black;
}
.buy-btn{
    font-weight: 700;
    padding-top: 3px;
    padding-right: 6px;
    margin-right: -17px;
    background: #0951af;
    width: 222px;
    height: 40px;
    margin-top: 40.5px;
    color: white;
    font-size: 14px;
    border: none;

}
.copy-info{
    font-style: normal;
    font-size: 10px;
    margin-top: 23.5px;
    color: #484848;
    line-height: 12px;
}
.downoload-btn{
    margin-right: -17px;
    width: 222px;
    height: 40px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    padding-top: 3px;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000;
    font-weight: bold;
    background: white;
}
.add{
    margin-left: 10px;
}
.add-count a{
    text-decoration: none;
    color: #828282;
}
.add-count{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 11px;
    margin-top: 75px;
    margin-left: 76.5px;
    color: #828282;
    border-radius: 8px;
}
.add-in-collection-btn{
    width: 222px;
    height: 40px;
    margin-top: 58px;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000;
    background: white;
    margin-right: -17px;
    font-size: 12.5px;
    font-weight: 700;
    padding-top: 2px;
    word-spacing: 1px;
    padding-left: 12px;
    letter-spacing: 0.1px;
}

.social-info{
    display: flex;
    padding: 25px 0px;
}
.watch{
    margin-left: 29px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #828282;
}
.like{
    margin-left: 298px;
    margin-top: -5px;
}
.dislike{
    margin-left: 12px;
    margin-top: -2px;
}
.share{
  margin-left: 48px;
  margin-top: -5px;
}
.share a{
    text-decoration: none;
    color: #4F4F4F;
}
.date{
  display: flex;
    margin-top: -20px;
    margin-left: 29px;
    font-size: 14px;
    color: #A1A1A1;
}
.more-info{
  display: flex;
    padding: 0px 29px;
    margin-top: -16px;
    flex-direction: column;
}
.more-info p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    font-size: 20px;
    color: #A1A1A1;
}
.create-year{
    margin-top: -11px;
}
.create-year p{
    line-height: 4px;
}
.owner{
    margin-top: -2px;
    width: 100%;


}
.carousel-indicators li{
    margin: 0px 15px;
}
.btn{
    padding: 15px 50px;
}
.similar{
  padding: 80px 24px;
  display: flex;
  flex-wrap: wrap;

}
.similar-h{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.similar-h p{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
}
.sim-btns{
    display: flex;
    flex-wrap: wrap;
    margin-left: -44px;
    margin-top: 11px;
    width: 1200px;
}
.btns-list > li{
  font-family: Roboto;

  font-size: 14px;
  text-transform: uppercase;

  color: #FFFFFF;
  padding-left: 3.5px;
}
.btns-list > li > button{
    background: #808080;
    padding: 10px 22px;
    height: 40px;
}
.col{
  display: flex;

}
.col1, .col2, .col3, .col4, .col5{
    flex-wrap: wrap;
}
