.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: white;


	border-bottom: 1px solid #E5E5E5;
}

.h {
	padding: 3px;
	margin-left: 13px;
}

.lit {
	height: 16px;
	margin: -1.4px;
}

input {
	margin-left: 35px;
	border-radius: 3px;
	width: 300px;
	border: 0.1px solid #E5E5E5;
	border-top-color: white;
	border-left-color: white;
	border-right-color: white;
	padding: 0px 8px;


}

#magnifier {
	background: #1C8EED;
	border-radius: 3.5px;
	width: 51px;
	height: 24px;
}

#down {
	background-color: white;
	border: none;
	margin-left: 5px;
	margin-bottom: 8px;
}

.menu > a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 12px;
	margin-left: 11px;
}

#plus {
	background-color: white;
	border: none;
	margin-left: 30px;

}

#nvbr {
	border: none;
	margin-left: 22px;
	background-color: white
}

#portfolio {
	background-color: white;
	border: none;
}

#userpic {
	background-color: white;
	border: none;

}

.body {
	display: flex;
	flex-direction: row
}

#rtrn {
	margin-left: 25px;
	margin-top: 15px;
}

#rtrn > a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #484848;
	font-size: 10px;
}

.gallaria > img {
	margin-top: 50px;
	margin-left: -150px;
}

#looks,
#pubdate {
	margin-left: -150px;
	font-family: 'Roboto', sans-serif;
	color: #828282;
	font-size: 15px;
	margin-top: 5px;

}

#owner > h3 {
	margin-left: -150px;
	font-family: 'Roboto', sans-serif;

}

#nameyear {
	margin-left: -150px;
	font-family: 'Roboto', sans-serif;
	color: #A1A1A1;
}

.likeshare {
	margin-top: 478px;
	margin-left: -170px;
	font-family: 'Roboto', sans-serif;
	color: #A1A1A1;

}

