.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: white;


	border-bottom: 1px solid #E5E5E5;
}

.h {
	padding: 3px;
	margin-left: 13px;
}

.lit {
	height: 16px;
	margin: -1.4px;
}

input {
	margin-left: 35px;
	border-radius: 3px;
	width: 300px;
	border: 0.1px solid #E5E5E5;
	border-top-color: white;
	border-left-color: white;
	border-right-color: white;
	padding: 0px 8px;


}

#magnifier {
	background: #1C8EED;
	border-radius: 3.5px;
	width: 51px;
	height: 24px;
}

#down {
	background-color: white;
	border: none;
	margin-left: 5px;
	margin-bottom: 8px;
}

.menu > a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 12px;
	margin-left: 11px;
}

#plus {
	background-color: white;
	border: none;
	margin-left: 30px;

}

#nvbr {
	border: none;
	margin-left: 22px;
	background-color: white
}

#portfolio {
	background-color: white;
	border: none;
}

#userpic {
	background-color: white;
	border: none;

}

.body {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#rtrn {
	margin-left: 20px;
	margin-top: 15px;
}

#rtrn > a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #484848;
	font-size: 10px;
}

.gallaria > img {
	margin-top: 50px;
	margin-left: -150px;
}

#looks,
#pubdate {
	margin-left: -150px;
	font-family: 'Roboto', sans-serif;
	color: #828282;
	font-size: 15px;
	margin-top: 5px;

}

#owner > h3 {
	margin-left: -150px;
	font-family: 'Roboto', sans-serif;

}

#nameyear {
	margin-left: -150px;
	font-family: 'Roboto', sans-serif;
	color: #A1A1A1;
}

.likeshare {
	margin-top: 478px;
	margin-left: -200px;
	font-family: 'Roboto', sans-serif;
	color: #A1A1A1;

}

#share {
	margin-left: 90px;
	margin-top: -28px;
	font-size: 15px;
}

.info > h1 {
	margin-top: -450px;
	margin-left: 40px;
	font-family: 'Roboto', sans-serif;
}

#author {
	margin-left: 40px;
	margin-top: -15px;
	font-family: 'Roboto', sans-serif;
	color: #949494;
	font-size: 15px;

}

#picinf {
	margin-left: 40px;
	margin-top: 18px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

#price {
	margin-left: 40px;
	margin-top: 70px;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}

#copysize {
	margin-left: 40px;
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;

}

.btns {
	margin-left: 400px;
	margin-top: -110px;
}

#add > button {
	margin-top: 64px;
	background: white;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
	width: 222px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: bold;
}

#download > button {
	margin-top: 16px;
	background: white;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
	width: 222px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: bold;

}

#buy > button {
	background: #1C8EED;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 5px;
	width: 222px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: white;

}

.footer {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.footer > h1 {
	font-family: 'Roboto', sans-serif;
	margin-left: 15px;
}

.tags {
	margin-top: 80px;
	margin-left: -270px
}

.tags > button {
	width: 105px;
	height: 40.06px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: white;
	background: #808080;
	border-radius: 4px;
}

.familiarpics {
	margin-top: 150px;
	margin-left: -323px;
}

#pic4 {
	margin-bottom: 64px
}

#short {
	margin-bottom: 50px;
}

#pic1 {
	margin-bottom: 12px;
}

