@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
body {
  font-family: Roboto;
  font-style: normal;
  background-color: #f7f7f7; }
  body a {
    text-decoration: none;
    color: #494949; }

header {
  background-color: #f7f7f7;
  height: 57px; }
  header .container-fluid {
    border-bottom: 1.5px solid #E5E5E5; }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header .container .logo {
      padding: 15px 30px; }
    header .container .block_search .search {
      width: 437px;
      height: 30px;
      background-color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 20px; }
      header .container .block_search .search input {
        border: none;
        width: 100%;
        padding: 5px 7px;
        font-family: Roboto;
        font-style: normal;
        font-size: 16px;
        outline: none; }
      header .container .block_search .search button {
        width: 60px;
        height: 28px;
        background: url(../img/btn_bg.png);
        border: none;
        border-radius: 3px;
        cursor: pointer; }
      header .container .block_search .search button:hover {
        background-color: #4279C1; }
    header .container .angle {
      display: block;
      position: relative; }
    header .container .angle::before {
      content: "";
      display: block;
      position: absolute;
      top: -8px;
      left: 8px;
      width: 12px;
      height: 12px;
      border-right: 1.5px solid #BDBDBD;
      border-bottom: 1.5px solid #BDBDBD;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    header .container .menu ul {
      padding: 0;
      margin-left: 27px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px; }
      header .container .menu ul li {
        list-style-type: none;
        margin: 0 7px;
        white-space: nowrap;
        cursor: pointer; }
        header .container .menu ul li a {
          color: #484848;
          text-decoration: none; }
    header .container .buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .container .buttons a {
        width: 33px;
        height: 33px;
        border: 1.3px solid #BDBDBD;
        border-radius: 50%;
        margin: 0 7px; }
      header .container .buttons .btn-plus {
        margin-right: 25px;
        margin-left: 55px;
        position: relative; }
        header .container .buttons .btn-plus span::before {
          content: "";
          display: block;
          height: 2.3px;
          width: 12px;
          background-color: #61707A;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        header .container .buttons .btn-plus span::after {
          content: "";
          display: block;
          height: 2.3px;
          width: 12px;
          background-color: #61707A;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) rotate(90deg);
                  transform: translate(-50%, -50%) rotate(90deg); }
      header .container .buttons .btn-burger {
        position: relative; }
        header .container .buttons .btn-burger span {
          display: block;
          height: 2.2px;
          width: 15px;
          background-color: #61707A;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        header .container .buttons .btn-burger span::before {
          content: "";
          display: block;
          height: 2.2px;
          width: 15px;
          background-color: #61707A;
          position: absolute;
          top: 5px; }
        header .container .buttons .btn-burger span::after {
          content: "";
          display: block;
          height: 2.2px;
          width: 15px;
          background-color: #61707A;
          position: absolute;
          bottom: 5px; }
      header .container .buttons .btn-chest {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      header .container .buttons .btn-profile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative; }
        header .container .buttons .btn-profile .notification {
          width: 9px;
          height: 9px;
          background-color: #F24B4B;
          position: absolute;
          right: 0;
          top: 0;
          border-radius: 50%; }

.block-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .block-picture .left-side {
    width: 650px;
    margin: 0; }
    .block-picture .left-side .back-to-pictures {
      font-size: 14px;
      color: #484848;
      display: block;
      position: relative;
      margin-top: 20px;
      margin-bottom: 15px; }
    .block-picture .left-side .back-to-pictures::before {
      content: "";
      display: block;
      position: absolute;
      left: -12px;
      bottom: 4px;
      width: 9px;
      height: 9px;
      border-left: 1px solid #484848;
      border-bottom: 1px solid #484848;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .block-picture .left-side .picture {
      width: 650px; }
      .block-picture .left-side .picture #block-for-slider {
        width: 650px;
        height: 420px; }
        .block-picture .left-side .picture #block-for-slider #viewport {
          display: table;
          position: relative;
          overflow: hidden;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none; }
          .block-picture .left-side .picture #block-for-slider #viewport #slidewrapper {
            position: relative;
            width: calc(100% * 4);
            top: 0;
            left: 0;
            padding: 0;
            -webkit-transition: 1s;
            transition: 1s; }
            .block-picture .left-side .picture #block-for-slider #viewport #slidewrapper ul, .block-picture .left-side .picture #block-for-slider #viewport #slidewrapper li {
              margin: 0;
              padding: 0; }
            .block-picture .left-side .picture #block-for-slider #viewport #slidewrapper li {
              width: calc(100% / 4);
              list-style-type: none;
              display: inline;
              float: left; }
            .block-picture .left-side .picture #block-for-slider #viewport #slidewrapper .slide .slide-img {
              width: 100%; }
          .block-picture .left-side .picture #block-for-slider #viewport #prev-btn, .block-picture .left-side .picture #block-for-slider #viewport #next-btn {
            position: absolute;
            width: 28px;
            height: 28px;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 50%;
            border: 1px solid #fff;
            top: calc(50% - 25px); }
          .block-picture .left-side .picture #block-for-slider #viewport #prev-btn:hover, .block-picture .left-side .picture #block-for-slider #viewport #next-btn:hover {
            cursor: pointer; }
          .block-picture .left-side .picture #block-for-slider #viewport #prev-btn {
            left: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .block-picture .left-side .picture #block-for-slider #viewport #prev-btn span {
              display: block;
              width: 12px;
              height: 12px;
              border-bottom: 1.3px solid #fff;
              border-right: 1.3px solid #fff;
              -webkit-transform: rotate(135deg) translate(-1.7px, -1.7px);
                      transform: rotate(135deg) translate(-1.7px, -1.7px); }
          .block-picture .left-side .picture #block-for-slider #viewport #next-btn {
            right: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .block-picture .left-side .picture #block-for-slider #viewport #next-btn span {
              display: block;
              width: 12px;
              height: 12px;
              border-bottom: 1.3px solid #fff;
              border-right: 1.3px solid #fff;
              -webkit-transform: rotate(-45deg) translate(-1.7px, -1.7px);
                      transform: rotate(-45deg) translate(-1.7px, -1.7px); }
          .block-picture .left-side .picture #block-for-slider #viewport #nav-btns {
            position: absolute;
            width: 100%;
            bottom: 20px;
            padding: 0;
            margin: 0;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center; }
            .block-picture .left-side .picture #block-for-slider #viewport #nav-btns .slide-nav-btn {
              position: relative;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              list-style-type: none;
              width: 165px;
              height: 38px;
              color: #FFF9F9;
              font-size: 14px;
              background-color: rgba(0, 0, 0, 0.2);
              margin: 3px; }
            .block-picture .left-side .picture #block-for-slider #viewport #nav-btns .active {
              background-color: rgba(0, 0, 0, 0.6); }
            .block-picture .left-side .picture #block-for-slider #viewport #nav-btns .slide-nav-btn:hover {
              cursor: pointer;
              background-color: rgba(0, 0, 0, 0.6); }
    .block-picture .left-side .under-slider {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 16px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 30px;
      width: 650px; }
      .block-picture .left-side .under-slider .views {
        font-size: 16px;
        color: #828282; }
      .block-picture .left-side .under-slider .likes {
        font-size: 14px;
        color: #4F4F4F;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .block-picture .left-side .under-slider .likes .like, .block-picture .left-side .under-slider .likes .dislike, .block-picture .left-side .under-slider .likes .share {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .block-picture .left-side .under-slider .likes .like a, .block-picture .left-side .under-slider .likes .dislike a, .block-picture .left-side .under-slider .likes .share a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
          .block-picture .left-side .under-slider .likes .like span, .block-picture .left-side .under-slider .likes .dislike span, .block-picture .left-side .under-slider .likes .share span {
            margin: 10px 8px; }
        .block-picture .left-side .under-slider .likes .share img {
          margin-left: 40px; }
    .block-picture .left-side .description-picture .date {
      color: #A1A1A1;
      font-size: 14px;
      margin-top: 7px; }
    .block-picture .left-side .description-picture h2 {
      font-size: 26px;
      font-weight: bold;
      padding: 0;
      margin: 0;
      margin-top: 30px; }
    .block-picture .left-side .description-picture h4 {
      color: #A1A1A1;
      font-size: 20px;
      font-weight: 400;
      padding: 0;
      margin: 0;
      margin-top: 20px; }
  .block-picture .buy-picture {
    width: auto;
    padding-left: 37px;
    padding-top: 64px; }
    .block-picture .buy-picture .desc-picture h2 {
      font-weight: bold;
      font-size: 36px;
      margin: 0; }
    .block-picture .buy-picture .desc-picture h4 {
      color: #949494;
      font-size: 14px;
      font-weight: 400; }
    .block-picture .buy-picture .desc-picture p {
      font-size: 12px;
      color: #484848; }
    .block-picture .buy-picture .buy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 50px; }
      .block-picture .buy-picture .buy .price {
        width: 50%; }
        .block-picture .buy-picture .buy .price p {
          font-size: 35px;
          font-weight: 400;
          margin: 0; }
          .block-picture .buy-picture .buy .price p span {
            font-size: 16px;
            font-weight: 400; }
        .block-picture .buy-picture .buy .price .size {
          font-size: 11px;
          color: #484848;
          margin-top: 18px; }
        .block-picture .buy-picture .buy .price .added {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          font-size: 11px;
          color: #828282;
          margin-top: 95px; }
      .block-picture .buy-picture .buy .buy-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: 40px; }
        .block-picture .buy-picture .buy .buy-buttons a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          width: 222px;
          height: 40px;
          border-radius: 3px; }
        .block-picture .buy-picture .buy .buy-buttons .buy-origin {
          color: #fff;
          margin-bottom: 16px;
          -webkit-transition: all 0.2s;
          transition: all 0.2s; }
        .block-picture .buy-picture .buy .buy-buttons .dload-copy {
          margin-bottom: 55px; }
        .block-picture .buy-picture .buy .buy-buttons .dload-copy, .block-picture .buy-picture .buy .buy-buttons .add-copy {
          border: 1.3px solid #000;
          color: #000000;
          -webkit-transition: all 0.2s;
          transition: all 0.2s; }
        .block-picture .buy-picture .buy .buy-buttons .dload-copy:hover, .block-picture .buy-picture .buy .buy-buttons .add-copy:hover {
          border: 1.3px solid rgba(0, 0, 0, 0.5); }

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.modal {
  position: fixed;
  z-index: 2;
  top: -150%;
  -webkit-transition: all 1s;
  transition: all 1s;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 588px;
  min-height: 300px;
  border-radius: 10px;
  font-size: 12px;
  padding: 0px 20px 20px 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .modal .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 55px;
    position: relative;
    border-bottom: 1px solid #E8E8E8;
    width: 100%; }
    .modal .head_first {
      position: absolute;
      left: 10px;
      width: 50%;
      height: 100%;
      font-size: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-right: 1px solid #e8e8e8; }
      .modal .head_first:hover {
        color: #828282; }
      .modal .head_first::before {
        content: "";
        display: block;
        height: 12px;
        width: 12px;
        border-left: 1px solid dimgray;
        border-bottom: 1px solid dimgray;
        -webkit-transform: rotate(45deg) translate(-1px, -1px);
                transform: rotate(45deg) translate(-1px, -1px); }
    .modal .head_second {
      position: absolute;
      right: 10px;
      color: #0951AF; }

.modal_active {
  top: 50%; }

.dload-modal .modal_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dload-modal .modal_content .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    min-height: 180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #484848; }
    .dload-modal .modal_content .left h3 {
      font-size: 48px;
      margin: 0;
      padding: 0;
      margin-top: 15px; }
    .dload-modal .modal_content .left h4 {
      margin-top: 30px;
      font-size: 18px;
      font-weight: 400; }
    .dload-modal .modal_content .left p {
      font-size: 18px;
      margin: 0;
      padding: 0; }
    .dload-modal .modal_content .left a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 173px;
      height: 51px;
      background-color: #e3e3e3;
      border-radius: 6px;
      font-size: 14px;
      font-weight: bold;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      .dload-modal .modal_content .left a:hover {
        background-color: #c4c4c4; }
  .dload-modal .modal_content .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .dload-modal .modal_content .right h3 {
      font-size: 48px;
      font-weight: 400;
      margin: 0;
      margin-top: 20px; }
    .dload-modal .modal_content .right p {
      font-size: 14px; }
    .dload-modal .modal_content .right a {
      width: 324px;
      height: 51px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

.buy-modal .head_first {
  border: none; }
.buy-modal .head_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  height: 100%;
  margin: 0;
  right: 0; }
.buy-modal .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .buy-modal .modal-content .pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33%;
    min-height: 180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #484848; }
    .buy-modal .modal-content .pic h3 {
      font-size: 48px;
      margin: 0;
      padding: 0;
      margin-top: 15px; }
    .buy-modal .modal-content .pic h4 {
      margin-top: 30px;
      font-size: 18px;
      font-weight: 400; }
    .buy-modal .modal-content .pic p {
      font-size: 18px;
      margin: 0;
      padding: 0; }
    .buy-modal .modal-content .pic a {
      width: 170px;
      height: 51px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

.add-modal .modal_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .add-modal .modal_content .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-contene: space-between; }
    .add-modal .modal_content .left h3 {
      font-size: 24px; }
  .add-modal .modal_content .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .add-modal .modal_content .right .save {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .add-modal .modal_content .right .save img {
        margin-right: 15px; }
      .add-modal .modal_content .right .save a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 207px;
        height: 51px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold; }

.blue_btn {
  background-color: #0951AF;
  color: #fff; }

.blue_btn:hover {
  background-color: #4279C1; }

.blue_btn:active {
  background-color: rgba(9, 81, 175, 0.91); }

/*# sourceMappingURL=main.css.map */